
* {
margin: 0px;
padding: 0px;
box-sizing: border-box;

}
body {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: #ffffff;
}

main {
    flex: 1;
    padding-top: 100px;
    padding-bottom: 80px;
}

body.dark-mode {
    background-color: rgb(63, 83, 103); 
    color: white; 
    }

body.dark-mode h3 {
    color: white;
    
}

body.dark-mode .card-train {
    background-color: rgb(56, 66, 79);
    color: white;
}

body.dark-mode {
    background-color: rgb(71, 94, 117);
    color: white !important;

    rk-mode h3 {
        margin: 20px 0px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        font-size: medium;
    }
}
#dark-mode-button{
    margin-right: 6rem;
    appearance: none;
    background: none;
    border: none;
}

body.dark-mode .alerts-box {
    background-color: rgb(56, 66, 79); 
    color: #ffffff;
    border-radius: 8px;
    padding: 10px;
}


#profile-button {
    margin-left: 21rem; 
    appearance: none; 
    background: none; 
    border:none;
}

h1.center {
    text-align: center;
}

nav#top-navbar {
  background-color: rgb(71, 94, 117);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 1rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  background-color: #778da9;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 2rem;
}

.sidenav a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.25rem;
  color: #023047;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

div.app-title {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 23rem;
    
}

div.app-title-darkmode {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.app-title img {
    max-width: 100%;
    width: 300px;
    display: block;
}

div.app-title span {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    
}

/*.searchbar {
    padding: 3px;
    display: flex;
    gap: 20px;
}

.searchbar input[type="text"] {
    padding: 10px;
    border: none;
    font-size: 17px;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
*/
    
@media screen and (max-width: 600px) {
    .searchbar input[type="text"] {
        width: 100%;
    }
}

header {
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0;
}

md-icon.black {
    color: black;
}

.content {
    display: grid;
    padding: 10px;
    padding-top: 130px;
    padding-bottom: 120px;
    color: #023047;
}

md-outlined-text-field#search-main {
    width: 100%;
}

md-filled-tonal-icon-button.custom-button {
    --md-sys-color-secondary-container: #778da9;
  }

.custom-icon {
    color: #023047;
}

.card-train {
    background-color: #778da9;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    gap: 1rem;;
    margin-top: 0.5rem 0;
}

.info {
    display: flex;
    justify-content: space-between;
}

.card-train#card-status-train {
    width: 48%;
    margin: 5px;
}

md-icon.subway-icon-color {
    color: #4F378A;
}

span#train-name {
    color: #1D1B20;
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    line-height: 1.3;
}

span#train-route {
    font-style: normal;
    font-weight: 400;
    font-family: "Roboto";
}

.train-status-box {
    border: 1px solid #CAC4D0;
    border-radius: 12px;
    width: 100%;
    padding: 0.5rem;
}

div.centered-train-status-box {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

span#train-status {
    font-style: normal;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 1.4vw;
    padding: 5px;
}

h3 {
    margin: 20px 0px;
    font-family: Roboto;
    font-weight: 500;
    color: #1D1B20;
    font-size: medium;
}

div.alerts {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #778da9
}

div.alerts-box {
    background-color: #778da9;
    border-radius: 8px;
    padding: 10px;
}

span#alert-text {
    font-family: Roboto;
    font-size: small;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

md-icon#alert-badge-critical {
    background-color: #f2e9e4;
    border: 8px solid #f2e9e4;
    border-radius: 25px;
}
md-icon.darkmode #alert-badge-critical{
    background-color: #415a77;
    border: 8px solid #415a77;
    border-radius: 25px;
}

md-icon#alert-badge-warn {
    background-color: #f2e9e4;
    border: 8px solid #f2e9e4;
    border-radius: 25px;
}
md-icon.darkmode #alert-badge-warn{
    background-color: #415a77;
    border: 8px solid #415a77;
    border-radius: 25px;
}

md-icon#alert-badge-normal {
    background-color: #f2e9e4;
    border: 8px solid #f2e9e4;
    border-radius: 25px;
}
md-icon.darkmode #alert-badge-normal{
    background-color: #415a77;
    border: 8px solid #415a77;
    border-radius: 25px;
}

#body_initial {
    background-color: #0d1b2a;
}

#initial_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    font-size: 40px;
    color: #372a28;
}


.cal-sans-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
    ;
}

footer {
    background-color: #778da9; 
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0; 
    justify-content: center; 
    align-items: center; 
    height: 80px; 
    margin-top: 50px;
    color: black;
    display: flex;
}

span#login-app-title {
    padding: 20px 0px; 
    font-size: 60px; 
    font-family: Roboto; 
    font-weight: 600; 
    letter-spacing: 5px;
}

#dialog-title {
    font-size: 22px;
    font-weight: 600;
}