<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="importmap">
        {
            "imports": {
            "@material/web/": "https://esm.run/@material/web/"
            }
        }
        </script>
    <script type="module">
        import '@material/web/all.js';
        import { styles as typescaleStyles } from '@material/web/typography/md-typescale-styles.js';
        document.adoptedStyleSheets.push(typescaleStyles.styleSheet);

        if(getCookie("darkMode") === "true") {
            toggleDarkMode();
            console.log("Dark Mode Enabled")
        }


    </script>
    <title>NexTrain</title>
</head>

<body>

    <header> <!--Menu no topo da página (repete-se em todas as páginas)-->
        <nav id="top-navbar">
            <div>
                <md-icon-button onclick="openNav()">
                    <md-icon class="black">menu</md-icon>
                </md-icon-button>
                <div id="mySidenav" class="sidenav">
                    <button class="closebtn" onclick="closeNav()">&times;</button>
                    <a href="?page=maintenance.html">Manutenção</a>
                    <a href="?page=routes.html">Rotas</a>
                    <a href="?page=notification.html">Notificações</a>
                    <a href="?page=reports.html">Análises</a>
                    <a href="?page=schedule.html">Agenda</a>
                </div>
            </div>
            <div class="app-title" style="cursor:grab" onclick="document.location.href = '.'">
                <div>
                    <img src="./imagens/logo.png">
                    <span id="login-app-title">NexTrain</span>
                </div>
            </div>
            <div class="top-btn-group">
                
                <button type="button" style="cursor:grab" id="profile-button"
                    onclick="document.getElementById('dialog-profile-info').open = true;">
                    <!--Botão de Perfil no topo direio -->
                    <i id="dark-mode-sun" class="fas fa-user"></i>
                </button>
                
                <button type="button" id="dark-mode-button" onclick="toggleDarkMode()">
                    <!--Botão Dark mode no topo direio -->
                    <i class="fas fa-sun"></i>
                </button>
            </div>
        </nav>
    </header>

    <md-dialog id="dialog-profile-info"> <!-- Informações do Perfil -->
        <div slot="content">
            <!-- TODO: Renomear arquivo para um .php, por enquanto assim funciona. -->
            <?php
            echo "<div slot='headline'><span id='dialog-title'>".$_SESSION['username']."</span></div>";
            if(check_user_permission($_SESSION['username'], "ADMIN_PAGES")) echo "<br><a href='?page=admin/index.php'>Administrador</a>";
          ?>

            <br><a href="php/logout.php">Desconectar</a>
        </div>
        <div slot="actions">
            <md-text-button onclick="document.getElementById('dialog-profile-change-password').open = true">Alterar
                Senha</md-text-button>
            <md-text-button onclick="document.getElementById('dialog-profile-info').close()">Fechar</md-text-button>
        </div>
    </md-dialog>

    <md-dialog id="dialog-profile-change-password">
        <div slot="content">
            <!-- TODO: Renomear arquivo para um .php, por enquanto assim funciona. -->
            <div slot="headline">
                <h2>Altere sua senha</h2>
            </div>
            <form action="php/changepassword.php" id="aaa" method="post">
                <md-outlined-text-field type="password" name="oldpass" id="" label="Senha Anterior"
                    style="flex:1;"></md-outlined-text-field>
                <md-outlined-text-field type="password" name="newpass" id="" label="Nova Senha"
                    style="flex:1;"></md-outlined-text-field> </md-outlined-text-field>
            </form>
        </div>
        <div slot="actions">
            <md-text-button form="aaa"
                onclick="document.getElementById('dialog-profile-change-password').close()">Confirmar</md-text-button>
        </div>
    </md-dialog>

    <md-dialog id="dialog-alert" <?php if(isset($_GET['msg'])) echo 'open' ; ?>>
        <div slot="headline">
            <h2>Alerta</h2>
        </div>
        <div slot="content">
            <!-- TODO: Renomear arquivo para um .php, por enquanto assim funciona. -->
            <p>
                <?php if(isset($_GET['msg'])) echo($_GET['msg'])?>
            </p>
        </div>
        <div slot="actions">
            <md-text-button onclick="document.location.href = '.'">Confirmar</md-text-button>
        </div>
    </md-dialog>

    <script src="./js/dark_mode.js"></script>
    <script src="./js/sidebar.js"></script>